@import "tailwindcss";

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

@theme inline {
  --color-*: initial;
  --color-primary: #e3313d;
  --color-secondary: #358af7;
  --color-tertiary: #f48200;
  --color-background: #2d2d2d;
  --color-foreground: #faf9f6;
  --color-normal: #a8a77a;
  --color-fire: #ee8130;
  --color-water: #6390f0;
  --color-grass: #7ac74c;
  --color-electric: #f7d02c;
  --color-ice: #96d9d6;
  --color-fighting: #c22e28;
  --color-poison: #a33ea1;
  --color-ground: #e2bf65;
  --color-flying: #a98ff3;
  --color-psychic: #f95587;
  --color-bug: #a6b91a;
  --color-rock: #b6a136;
  --color-ghost: #735797;
  --color-dragon: #6f35fc;
  --color-dark: #705746;
  --color-steel: #b7b7ce;
  --color-fairy: #d685ad;
  --drop-shadow-sharp: -0.25rem 0.25rem 0px;
  --text-shadow-sharp: -0.1rem 0.1rem 0px;
  --text-shadow-sharp-small: -0.05rem 0.05rem 0px;
}

@media (min-width: 640px) and (max-width: 1279px) {
  .grid-container > :nth-last-child(1):nth-child(odd) {
    grid-column: span 2 / span 2;
    justify-self: center;
    width: 100%;
  }
}
