@import "tailwindcss";

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

@theme inline {
  --color-*: initial;
  --color-primary: #e3313d;
  --color-secondary: #358af7;
  --color-tertiary: #f48200;
  --color-background: #2d2d2d;
  --color-foreground: #faf9f6;
  --drop-shadow-sharp: -0.25rem 0.25rem 0px;
  --text-shadow-sharp: -0.1rem 0.1rem 0px;
}

@media (min-width: 640px) and (max-width: 1279px) {
  .grid-container > :nth-last-child(1):nth-child(odd) {
    grid-column: span 2 / span 2;
    justify-self: center;
    width: 100%;
  }
}